body{
  font-family: Montserrat;
  font-size: 18px;
}
h1{
  font-weight: 700;
}
footer {
  background-color:#435058;
  height: 65px;
}
footer .row {
  min-height: 65px;
  padding-top:21px;
  padding-bottom: 0;
}
footer p {
  float: right;
  color: white;
  margin-left: 10px;
}


.fa{
  font-size: 30px;
  color: #BFB7B6;
  transition: .2s ease-out;
}
.fa:hover{
  color:white;
}
.container .row h1 {
  margin-bottom: 30px;
}
.navbar-default {
  margin: 0;
  height: 65px;
  background: red;
  background-color: #435058;
  border:none;
  font-size:16px;
}
.navbar-default .container {
  margin-top: 5px;
}

.navbar-default .navbar-brand{
  color: #DCF763;
  font-size: 1.7em;
}

.navbar-default .navbar-brand:hover{
  color: #DCF763;
}

.navbar-default .navbar-nav>li>a {
  color: #DCF763;
  transition: .2s ease-out;
}

.navbar-default .navbar-nav>li>a:hover{
  color: white;
}


.navbar-default .navbar-toggle{
  transition: .5s ease-out;
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #DCF763;
}

.rowWrapOther{
  background-color: #848C8E;
  color:white;
}

.navbar-default .navbar-collapse {
  background-color: #435058;
  border: none;
}

.dropdownClass {
  background-color: #435058;
}


.jumbotron{
  text-align: center;
  height: 700px;
}
.jumbotron h1 {
  padding-top: 15%;
}

.app {
  text-align: center;
}

.row {
  padding-top: 50px;
  min-height: 500px;
  padding-bottom: 50px;

}

.questions {
  text-align: left;
}

.description {
  text-align: center;
}
.faq {
  text-align: center;
}

.leftFooter{
  float:left;
}
